:root {
    --cyan-rourb: #52acad; /* Turquesa ROURB */
    --black-rourb: #000000;
    --orange-rourb: #ff6a00;
    --white: #ffffff;
    /* Fuente de letra*/
    --font-owned: 'Owned', cursive, sans-serif;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* degradado turquesa a negro */
    background: linear-gradient(135deg, var(--cyan-rourb) 0%, var(--black-rourb) 70%);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

/* El card*/
.login-card {
    width: 90%;
    max-width: 900px;
    min-height: 600px;
    height: auto;
    max-height: 90vh;
    background: #000;
    border-radius: 20px;
    display: flex;
    overflow: hidden; /* Para que la imagen no se salga */
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

/*formulario izquierdo*/
.card-left {
    width: 40%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #000;
    color: white;
    overflow-y: auto;
}

/* titulo */
.brand {
    margin-bottom: 30px;
    text-align: center;
}

.brand h2 {
    font-family: var(--font-owned);
    color: var(--white);
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.brand h2 span:first-child {
    color: var(--orange-rourb);
}

form { display: flex; flex-direction: column; }

label { color: #aaa; font-size: 12px; margin-bottom: 5px; display: block; }

input, .input-select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    background: #1a1a1a;
    color: white;
    font-size: 14px;
}

.input-select {
    cursor: pointer;
    appearance: none;
}

/* Botones */
.btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

.login { background: var(--cyan-rourb); color: white; margin-bottom: 10px; }
.login:hover { background-color: #3b8e8f; }

.register {
    background: transparent;
    border: 1px solid var(--orange-rourb);
    color: var(--orange-rourb);
}
.register:hover { background-color: var(--orange-rourb); color: white; }

/* lado derecho de la imagen con el logo centrado */
.card-right {
    width: 60%;
    position: relative;
    background: url('img/fondo.jpg') center/cover;
}

.central-logo {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 320px; /* tamaño del logo */
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px; /* espacio entre el cuadrito y el texto */
    margin-bottom: 20px;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
}

/* para que no se vea gigante el checkbox */
.checkbox-container input {
    width: auto;
    margin-bottom: 0;
    cursor: pointer;
}