<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - ROURB</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="login-card">
    <div class="card-left">
        <div class="brand">
            <h2><span>JOIN</span> THE CREW</h2>
        </div>

        <form th:action="@{/register}" method="post">
            <label>Usuario</label>
            <input type="text" name="username" placeholder="Elige tu nombre de usuario o correo" required>

            <label>Contraseña</label>
            <input type="password" name="password" placeholder="••••••••" required>

            <label>Tipo de cuenta</label>
            <select name="role" class="input-select" required>
                <option value="CLIENT">Cliente (Comprar)</option>
                <option value="SELLER">Vendedor (Vender)</option>
            </select>

            <button type="submit" class="btn login">Registrarse</button>
            <button type="button" class="btn register" onclick="window.location.href='/login'">¿Ya tienes cuenta?, Inicia Sesión</button>
        </form>
    </div>

    <div class="card-right">
        <img th:src="@{/img/logo.png}" alt="Logo Rourb" class="central-logo">
    </div>
</div>

</body>
</html>